body {
  background-color: rgb(7, 243, 211);
  color: brack;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
  }
button {
    padding: 5px 20px;
    background-color: rgb(21, 235, 50);
    border-style: none;
  }
  input {
    height: 20px;
  }